extends layout

block content
    h1 Super Secret Admin Stuff
    p Proceed with caution
    div(class="users")
        table(class="userTable")
            tr
                th 
                th Name
                th Is Admin
                th Email
                th Age
                th 
            each item in users
                tr
                    td(class="userImage")
                        img(src=item.imageURL)
                    td #{item.username}
                    td #{item.isAdmin}
                    td(class="email") #{item.email}
                    td #{item.age}
                    td
                        a(href='/Profile/Delete?id=' + item._id) Delete