extends layout

include ./mixins/message.pug

block content
    //- div(class="section")
    //-     p Want to talk about swamp stuff?
    //- div(class="section sectionRight")
    //-     p Just create an account!
    if user
        div(class="block")
            h1 Welcome to the Swamp, #{user.username}!
        div(class="messageBoard")
            +message
    else 
        div(class="block")
            h1 Join in the Swamp!
    each message in board
        div(class="message")
            if message.canDelete
                p(class="messageDelete")
                    a(href="/Board/Delete?id=" + message._id) Delete
            if message.canEdit
                p(class="messageEdit")
                    a(href="/Board/Edit?id=" + message._id) Edit
            img(class="messageImage" src=message.imageURL) 
            p(class="messageUser") #{message.username}
            p(class="messageContent") Message: #{message.message}
            p(class="messageDate") #{message.date}
    img(id="scream" src='https://wvtourism.com/wp-content/uploads/2018/04/3144431-shrek2-480x240.jpg')
    div(class="message")
        p(class="messageDelete")
            a(href="/") Delete
        p(class="messageEdit")
            a(href="/") Edit
        img(class="messageImage", src="https://wvtourism.com/wp-content/uploads/2018/04/3144431-shrek2-480x240.jpg")
        p(class="messageUser") Colin
        p(class="messageContent") What a wonderful day to make a website with some css and stuff. It brings tears to my eyes.
        p(class="messageDate") 3-7-2019 11:42 AM
    div(class="barGraph")
        canvas(id="barCanvas")
        script().
            var ctx;
            window.onload = function() {
                var c = document.getElementById("barCanvas");
                var ctx = c.getContext("2d");

                var userImages = [];
                var userNum = 20;
                var xGrowth = c.width / (userNum + 1);
                var imgWidth = 25 / (userNum / 10);
                var imgHeight = 25 / (userNum / 10);
                var imgHalf = imgWidth / 2;
                var x = xGrowth;
                var y = c.height - imgHeight;

                var maxPosts = 20;
                var maxHeight = c.height - imgHeight * 2.75;
                var posts = 0;

                for (var i = 0; i < userNum; i++) {
                    var img = new Image();
                    img.onload = function() {
                        posts++;
                        var xPos = x - imgHalf;
                        var yPos = y - imgHalf;
                        ctx.drawImage(img, xPos, yPos, imgWidth, imgHeight);

                        var bL = { x: xPos, y: yPos - 5 };
                        var tL = { x: xPos, y: (yPos - imgHalf) - (posts / maxPosts) * maxHeight };
                        var tR = { x: xPos + imgWidth, y: tL.y };
                        var bR = { x: tR.x, y: bL.y };
                        var r = Math.floor(Math.random() * (100)) + 156;
                        var g = Math.floor(Math.random() * (100)) + 156;
                        var b = Math.floor(Math.random() * (100)) + 156;
                        ctx.fillStyle = 'rgb(' + 100 + ',' + g + ',' + b + ')';
                        ctx.fillRect(tL.x, tL.y, tR.x - tL.x, bR.y - tR.y);
                        x += xGrowth;
                    };
                    img.src = 'https://png.pngtree.com/svg/20161028/happy__949451.png';
                    userImages.push(img);
                }

            }