extends layout

block content
    h2 #{user.username}
    img(id="profileImg" src=user.imageURL)

    div
        label Use Default Avatar
        input(type="radio" name="avatarBtn" onclick="useDefaultAvatar()" checked="checked")
        label Use Custom Avatar
        input(type="radio" name="avatarBtn" onclick="useCustomAvatar()")
    div#AvatarCustomization
        each item in Object.keys(face)
            .form-group
                label(for=item) #{item}
                button(onclick="changeItem(\"" + item + "\", -1)") &#60;
                input(id=item + "Input" type="text" readonly name=item value=face[item][0])
                button(onclick="changeItem(\"" + item + "\", 1)") &#62;
    form(action="", method="post")
        .form-group.hide
            input(id="userIDInput" type="text" name="id" value=user._id)
        .form-group.hide
            input(id="usernameInput" type="text" name="username" value=user.username)
        .form-group.hide
            input(id="imageInput" type="text" name="imageURL" value=user.imageURL)
        .inptField
            p Are you an Admin?&nbsp;
                input(type="checkbox", name="admin", class="admin" checked=user.isAdmin)
        .inptField
            p Email:&nbsp;
                input(type="email", name="email" value=user.email)
        .inptField
            p Age:&nbsp;
                input(type="number", name="age" value=user.age)
        .form-group 
            input(type="submit" value="Save")
    script(type="text/javascript").
        //- So # {} or ! {} is interpolation. It executes code on the server and injects it into the client.
        //- Therefore, !{JSON.stringify(data)}. Takes 'data' variable and Stringifies it.
        //-  I.E. {username: "Hello", imageURL: "..."}
        //- We can set a variable to that new JSON String to 'copy' or 'create' a new object
        //- The Client ends up looking like this
        //-  var user = {username: "Hello", imageURL: "..."}
        //-  Which is valid Javascript
        //- 

        var face = !{JSON.stringify(face).replace(/<\//g, "<\\/")};
        var user = !{JSON.stringify(user).replace(/<\//g, "<\\/")};
    script(src="/edit.js")
